APP_NAME=geferti
APP_KEY=some_random_string
APP_ENV=development

LOG_LEVEL=debug
LOG_PATH=./log/geferti.log
# available options: mixed | console | file
LOG_OUTPUT=mixed

DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=db_name
DB_USERNAME=user
DB_PASSWORD=password

SERVER_HOST=localhost
SERVER_PORT=443
